<!-- Adding pdf scanner -->
<!-- <ng-container *ngIf="(uploadStatus || errorMessage) ? !!pdfSrc : false"> -->
  <!-- form.valid ? '#staticBackdrop1' : '#staticBackdrop2' -->
<ng-container *ngIf="!!pdfSrc && uploadStatus" >
 <div *ngIf="displayBlock">
  <div
    style="
      position: absolute;
      width: 30%;
      height: 30%;
      margin-left: auto;
      margin-right: auto;
      top: 10vh;
      left: 0;
      right: 0;
      z-index: 101;
    "
  >
 
    <div style="position: relative">
      <pdf-viewer
        [src]="pdfSrc"
        [original-size]="true"
        [fit-to-page]="true"
        [show-all]="false"
      ></pdf-viewer>
      <div id="dup-scanning-files">
        <div class="scanner"></div>
      </div>
    </div>
  </div>
</div>
  
 
  <div class="c-backdrop"></div>

 
</ng-container>







